<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>msg.codes</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>
    <div class="container">
        <a id="logo" href="/">msg<span>.</span>codes</a>

        <div id="main-text">
            <h1>Contact form in a link</h1>
            <p>Generate your own contact form and let other people contact you without disclosing your email.</p>
        </div>

        <div class="contact-container">
            <form autocomplete="off">
                <p>All emails sent through your contact link are going to be redirected to your own email!</p>
                <input type="text" placeholder="Name" id="name" name="name">
                <input type="text" placeholder="Email" id="email" name="email">
                <button id="generate-button" onclick="generateLink();">Generate link</button>

                <div id="generated-link-container">
                    <span class="tooltip-text" id="link-tooltip">Copy to clipboard</span>
                    <input style="display: none;" type="text" name="generated-link" id="generated-link" onclick="copyLink();" value="" readonly>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/main.js"></script>
</body>
</html>